---

// IMPORTS ASTRO ATOMS
import ArrowCTA from "@/atoms/buttons/arrow/index.astro"
import HeadingFive from "@/atoms/headings/five/index.astro"
import Link from "@/atoms/links/index.astro"
import Paragraph from "@/atoms/paragraph/index.astro"

// ASTRO PROPS
const {

    cta_link,
    cta,
    description,
    title

} = Astro.props

---
<div class="space-y-6">
    <div class="space-y-4">
        <HeadingFive>{ title }</HeadingFive>
        <Paragraph>{ description }</Paragraph>
    </div>
    <Link href={ cta_link } aria_label={ "Explore" + cta }>
        <ArrowCTA>{ cta }</ArrowCTA>
    </Link>
</div>
