---
// IMPORTS ASTRO ATOMS
import Link from "@/atoms/links/index.astro"

const { aria_label, href } = Astro.props
---
<li class="hover:underline text-thoughtbot_slate hover:text-thoughtbot_light_red font-calibre transition-all duration-200 cursor-pointer text-lg">
    <Link href={ href } aria_label={ aria_label }>
        <slot />
    </Link>
</li>
