---
// IMPORTS MARKED
import { marked } from "marked"

// IMPORTS ASTRO ATOMS
import ArrowCTA from "@/atoms/buttons/arrow/index.astro"
import HeadingTwo from "@/atoms/headings/two/index.astro"
import HeadingTwoUppercase from "@/atoms/headings/two/uppercase/index.astro"
import ContainPicture from "@/atoms/picture/contain/index.astro"
import Link from "@/atoms/links/index.astro"

const {

    src,
    alt,
    heading,
    title,
    description,
    cta,
    cta_link,
    is_right,
    height

} = Astro.props

const html = marked.parse( description )
---
<div class="grid grid-cols-1 md:grid-cols-2 gap-20">
    <div class={` ${ is_right ? "order-last" : "order-last md:order-none" } ${ height } w-full`}>
        <ContainPicture
            src={ src }
            alt={ alt }
            image_width="600"
        />
    </div>
    <div class="flex flex-col justify-center gap-4 md:gap-10">
        <div class="space-y-4">
            <HeadingTwoUppercase>{ heading }</HeadingTwoUppercase>
            <HeadingTwo>{ title }</HeadingTwo>
        </div>
        <section set:html={ html } class="markdown" />
        <Link href={ cta_link } aria_label="">
            <ArrowCTA>{ cta }</ArrowCTA>
        </Link>
    </div>
</div>
