@font-face {
    font-family: 'Calibre Medium';
    src: url('/fonts/CalibreWeb-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Calibre';
    src: url('/fonts/CalibreWeb-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Calibre';
    src: url('/fonts/CalibreWeb-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

.markdown h3 {

    @apply text-thoughtbot_black font-calibre text-2xl font-semibold leading-tight pb-4 !important;

}
.markdown ul {

    @apply list-disc pl-4 md:pl-0 !important;

}
.markdown li {

    @apply list-disc md:text-lg text-thoughtbot_slate marker:text-thoughtbot_zinc !important;

}
.markdown a {

    @apply underline hover:text-thoughtbot_red !important;

}
.markdown p {

    @apply font-calibre text-thoughtbot_slate text-lg md:text-2xl !important;

}
