---

// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS ASTRO ATOMS
import Annotate from "@/atoms/annotate"
import HeadingOne from "@/atoms/headings/one/index.astro"
import LargeButton from "@/atoms/buttons/primary/large/index.astro"
import Link from "@/atoms/links/index.astro"
import Paragraph from "@/atoms/paragraph/index.astro"
import Picture from "@/atoms/picture/index.astro"

// ASTRO PROPS
const {

    CDN,
    data,
    PROJECT

} = Astro.props

---
<Container>
    <section class="grid grid-cols-1 md:grid-cols-2 gap-20 md:gap-4 py-10 md:py-20 mt-36">
        <div class="space-y-6 md:space-y-8">
            <div class="md:pr-48">
                <HeadingOne>{ data.title }</HeadingOne>
                <Annotate client:only>
                    <div class="w-fit text-thoughtbot_black font-calibre text-5xl md:text-6xl font-semibold tracking-tight">a success</div>
                </Annotate>
            </div>
            <Paragraph>{ data.description }</Paragraph>
            <Link href={ data.button_link } aria_label={ data.button_title }>
                <LargeButton>{ data.button_title }</LargeButton>
            </Link>
        </div>
        <div>
            <div class="w-full aspect-[3/2]">
                <Picture
                    alternative_text={ data.title }
                    CDN={ CDN }
                    image_width="600"
                    PROJECT={ PROJECT }
                    source={ data.cover }
                />
            </div>
        </div>
    </section>
</Container>
