<div class="hover:border-white p-[2px] border-[3px] border-transparent rounded-full group w-fit">
    <button class="py-3 px-6 md:py-4 md:px-8 md:text-lg text-thoughtbot_red border-white bg-white rounded-full">
        <slot />
    </button>
</div>
