---
// IMPORTS ASTRO LAYOUTS
import Layout from "../layouts/Layout.astro"

// IMPORTS ASTRO COMPONENTS
import Footer from "../components/footer/Footer.astro"
import Header from "../components/header/Header.astro"
import NotFoundView from "../components/NotFoundView.astro"
---
<Layout
	title="4O4 PAGE NOT FOUND"
	description=""
	image=""
>
    <section class="md:h-screen md:max-h-screen">
        <Header />
        <NotFoundView />
    </section>
	<Footer />
</Layout>
