---
import Container from "../layouts/Container.astro";
import { frontmatter as benchmarking } from "../content/benchmarking/home.mdx"
---

<section>
    <Container>
        { benchmarking.page }
        <div class="flex bg-body h-8 w-full rounded">
        {

            benchmarking.existing_statistics.map( ( type ) => {

                return (
                    <div style={{"width":`${ parseFloat( type.size / benchmarking.existing_size * 100).toFixed(2) }%`}}>
                        <div>{ type.name }</div>
                    </div>
                )

            })

        }
        </div>
        {

            benchmarking.existing_statistics.map( ( type ) => {

                return (
                    <div>
                        <div>{ type.name }</div>
                        <div>{ type.size }</div>
                        <div>{ parseFloat( type.size / benchmarking.existing_size * 100 ).toFixed(2) }%</div>
                    </div>
                )

            })

        }
        <section>Blupp</section>
        <div class="flex bg-body h-8 w-full rounded">
            {

                benchmarking.blupp_statistics.map( ( type ) => {

                    return (
                        <div style={{"width":`${ parseFloat( type.size / benchmarking.blupp_size * 100).toFixed(2) }%`}}>
                            <div>{ type.name }</div>
                        </div>
                    )

                })

            }
            </div>
            {

                benchmarking.blupp_statistics.map( ( type ) => {

                    return (
                        <div>
                            <div>{ type.name }</div>
                            <div>{ type.size }</div>
                            <div>{ parseFloat( type.size / benchmarking.blupp_size * 100 ).toFixed(2) }%</div>
                        </div>
                    )

                })

            }
    </Container>
</section>