<!-- <a href=""> -->
    <div class="hover:cursor-pointer group">
        <p class="md:text-lg text-thoughtbot_light_red underline group-hover:no-underline">
            <slot/>
        </p>
        <div class="w-14 aspect-video group-hover:ml-4 transition-all duration-500">
            <img
                src="/icons/long_arrow_right.svg"
                alt=""
                class="w-full h-full"
            />
        </div>
    </div>
<!-- </a> -->
