---
const { href, aria_label } = Astro.props
---
<div>
    <a href={ href } aria-label={ aria_label }>
        <div class="hover:border-thoughtbot_red p-[2px] border-[3px] border-transparent rounded-full group w-fit">
            <button class="h-11 px-6 md:text-lg text-white font-calibre_medium bg-thoughtbot_light_red group-hover:bg-thoughtbot_red rounded-full">
                <slot />
            </button>
        </div>
    </a>
</div>
