---
const { center, uppercase } = Astro.props
---
<h1 class={` ${ center ? "text-center" : "" } ${ uppercase ? "uppercase" : "" } text-thoughtbot_black font-calibre text-3xl md:text-[46px] font-semibold leading-[50px]`}>
    <slot/>
</h1>
