---
const { center, uppercase, tracking_wide } = Astro.props
---
<h2 class={` ${ center ? "text-center" : "" } ${ uppercase ? "uppercase" : "" } ${ tracking_wide ? "tracking-widest" : "tracking-widest md:tracking-t" } text-thoughtbot_gray font-calibre md:text-lg`}>
    <slot/>
</h2>
