---
const { center, uppercase, tracking_wide } = Astro.props
---
<h3 class={` ${ center ? "text-center" : "" } ${ uppercase ? "uppercase" : "" } ${ tracking_wide ? "tracking-widest" : "" } text-thoughtbot_gray font-calibre text-base`}>
    <slot/>
</h3>
