---
const { center, uppercase, tracking_wide } = Astro.props
---
<h4 class={` ${ center ? "text-center" : "" } ${ uppercase ? "uppercase" : "" } ${ tracking_wide ? "tracking-widest" : "" } text-thoughtbot_black font-calibre font-semibold text-2xl md:text-3xl`}>
    <slot/>
</h4>
