---
// COMPONENTS
import ImageHeadingTitleDescriptionCTAAligned from "../ImageHeadingTitleDescriptionCTAAligned.astro"
---
<section class="py-10 md:py-20">
    <ImageHeadingTitleDescriptionCTAAligned
        src="clients.avif"
        alt=""
        heading="Over 1,000+ positive outcomes"
        title="Our Clients"
        description="We are proud to partner with clients of all stages, sizes and industries on meaningful work."
        cta="Here are their stories"
        is_right={ true }
        height="aspect-square"
    />
</section>
