---
// LAYOUTS
import Container from "../../layouts/Container.astro"

// COMPONENTS
import ImageHeadingTitleDescriptionCTAAligned from "../ImageHeadingTitleDescriptionCTAAligned.astro"

const { data } = Astro.props
---
<section class="bg-thoughtbot_lavender py-20 md:py-28">
    <Container>
        <ImageHeadingTitleDescriptionCTAAligned
            src={ data.cover }
            alt=""
            heading={ data.title }
            title={ data.sub_title }
            description={ data.description }
            cta={ data.button_title }
            height="aspect-[3/2]"
        />
    </Container>
</section>
