---
// LAYOUTS
import Container from "../../layouts/Container.astro"

// ATOMS
import Button from "../../atoms/Button.astro"
---
<section class="py-10 md:py-20 bg-thoughtbot_light_red">
    <Container>
        <div class="md:flex justify-between items-center space-y-4 md:space-y-0">
            <h2 class="font-calibre font-semibold text-3xl text-white">What does success look like for your project?</h2>
            <Button light={ true } large={ true }>Let's talk!</Button>
        </div>
    </Container>
</section>
