---
// ATOMS
import HeadingOne from "../../atoms/heading/One.astro"
import Button from "../../atoms/Button.astro"

import Annotate from "../../atoms/jsx/Annotate"

// CONSTANTS
import { CDN_LINK, IMAGE_QUALITY, IMAGE_WIDTH_600 } from "../../constants/cdn"

const { data } = Astro.props
---
<section class="grid grid-cols-1 md:grid-cols-2 gap-20 md:gap-4 py-10 md:py-20 mt-12 md:mt-32">
    <div class="space-y-4 md:space-y-10 md:pr-20">
        <div class="mt-20">
            <HeadingOne>
                { data.title }
                <Annotate client:load>
                    <span>a success</span>
                </Annotate>
            </HeadingOne>
        </div>
        <p class="font-calibre text-thoughtbot_slate leading-relaxed md:leading-[1.4] text-lg md:text-[22px]">{ data.description }</p>
        <Button large={ true }>{ data.button_title }</Button>
    </div>
    <div>
        <div class="w-full aspect-[3/2]">
            <img
                src={ CDN_LINK + data.cover + "?quality=" + IMAGE_QUALITY + "&width=" + IMAGE_WIDTH_600 }
                alt=""
                class="h-full w-full object-cover"
            />
        </div>
    </div>
</section>
