---
// ATOMS
import H1 from "../../atoms/H1.astro"
import Button from "../../atoms/Button.astro"
---
<section class="grid grid-cols-1 md:grid-cols-2 gap-4 py-10 md:py-20 mt-20">
    <div class="space-y-10 pt-20 md:pr-20">
        <H1>Let’s make your product and team a success</H1>
        <p class="font-calibre text-thoughtbot_slate md:text-lg leading-relaxed">thoughtbot is your expert strategy, design, product management, and development partner. We bring digital products from idea to success and teach you how because we care. It’s time to move beyond simply building features and start designing the right product with the right strategy.</p>
        <Button large={ true }>Let's talk</Button>
    </div>
    <div>
        <div class="">
            <img
                src="/images/masthead-image.avif"
                alt=""
                class="h-full w-full object-cover"
            />
        </div>
    </div>
</section>
