---
// COMPONENTS
import ImageHeadingTitleDescriptionCTAAligned from "../ImageHeadingTitleDescriptionCTAAligned.astro"
---
<section class="py-10 md:py-20">
    <ImageHeadingTitleDescriptionCTAAligned
        src="our-company.png"
        alt=""
        heading="Our company"
        title="Purpose-driven teams"
        description="Our team is driven by our purpose and values; we continually improve our process, do our best work in strong partnerships with you, and transparently share how we work. We now have teammates located throughout the Americas, Europe, West Asia, and Africa enabling us to take on client projects around the world."
        cta="Learn more about our company"
    />
</section>
