---
// COMPONENTS
import ImageHeadingTitleDescriptionCTAAligned from "../ImageHeadingTitleDescriptionCTAAligned.astro"
---
<section class="py-10 md:py-20">
    <ImageHeadingTitleDescriptionCTAAligned
        src="online-workshop.avif"
        alt=""
        heading="Online Workshops and Events"
        title="Watch online workshops that unstick your product strategy, level-up your team, and uncover next steps"
        description="Join the thoughtbot team and our special guests as we tackle today’s biggest product challenges. During our workshops, we cover the latest from the latest on how COVID-19 is impacting our product, design and development process to thoughtbot's tried and true process."
        cta="Check out our events"
        is_right={ true }
    />
</section>
