---
// LAYOUTS
import Container from "../../layouts/Container.astro"

// ATOMS
import Button from "../../atoms/Button.astro"

// COMPONENTS
import HeaderItem from "./HeaderItem.astro"
import HeaderMobile from "./HeaderMobile"
---
<header class="fixed top-0 w-full z-50 bg-white">
    <Container>
        <section class="hidden md:block">
            <nav class="flex justify-between items-center h-16 my-8">
                <a href="/">
                    <div class="flex items-center gap-4">
                        <div class="w-14 aspect-square bg-thoughtbot_red p-2 rounded-full">
                            <img
                                src="/logos/logo.svg"
                                alt=""
                                class="w-full h-full"
                            />
                        </div>
                        <p class="font-calibre text-4xl text-thoughtbot_red">thoughtbot</p>
                    </div>
                </a>
                <ul class="flex items-center gap-8">
                    <HeaderItem>Services</HeaderItem>
                    <HeaderItem>Case Studies</HeaderItem>
                    <HeaderItem>Resources</HeaderItem>
                    <HeaderItem>Celebrating 20 Years 🎉</HeaderItem>
                </ul>
                <div>
                    <Button>Let’s get started!</Button>
                </div>
            </nav>
        </section>
    </Container>
    <HeaderMobile client:load />
</header>
