---
// ATOMS
import ArrowCTA from "../atoms/ArrowCTA.astro"
import H2 from "../atoms/H2.astro"
import H4 from "../atoms/H4.astro"
import Paragraph from "../atoms/Paragraph.astro"

// CONSTANTS
import { CDN_LINK, IMAGE_QUALITY, IMAGE_WIDTH } from "../constants/cdn"

const {

    src,
    alt,
    heading,
    title,
    description,
    cta,
    is_right,
    height

} = Astro.props
---
<div class="grid grid-cols-1 md:grid-cols-2 gap-20">
    <div class={` ${ is_right ? "order-last" : "order-last md:order-none" } ${ height ? "h-[640px]" : "aspect-square" } w-full`}>
        <img
            src={ CDN_LINK + src + "?quality=" + IMAGE_QUALITY + "&width=" + IMAGE_WIDTH }
            alt={ alt }
            class="h-full w-full object-cover"
        />
    </div>
    <div class="flex flex-col justify-center gap-4 md:gap-10">
        <div class="space-y-4">
            <H2 uppercase={ true } tracking_wide={ true }>{ heading }</H2>
            <H4>{ title }</H4>
        </div>
        <Paragraph>{ description }</Paragraph>
        <ArrowCTA>{ cta }</ArrowCTA>
    </div>
</div>
