---
// ATOMS
import ArrowCTA from "../atoms/ArrowCTA.astro"

// CONSTANTS
import { CDN_LINK, IMAGE_QUALITY, IMAGE_WIDTH_600 } from "../constants/cdn"

const {

    src,
    alt,
    title,
    description,
    cta

} = Astro.props
---
<div class="space-y-4 rounded overflow-hidden">
    <div class="overflow-hidden w-full aspect-[3/2] bg-zinc-200">
        <img
            src={ CDN_LINK + src + "?quality=" + IMAGE_QUALITY + "&width=" + IMAGE_WIDTH_600 }
            alt={ alt }
            class="w-full h-full object-cover"
        />
    </div>
    <div class="space-y-4 md:space-y-8">
        <div>
            <span class="text-thoughtbot_slate text-2xl font-calibre font-medium">{ title }</span>
            <span> — </span>
            <span class="text-thoughtbot_slate text-2xl font-calibre">{ description }</span>
        </div>
        <ArrowCTA>{ cta }</ArrowCTA>
    </div>
</div>
