---
// ATOMS
import Paragraph from "../atoms/Paragraph.astro"
import ArrowCTA from "../atoms/ArrowCTA.astro"

const {

    title,
    description,
    cta

} = Astro.props
---
<div class="space-y-6">
    <div class="space-y-4">
        <p class="font-calibre font-medium text-thoughtbot_black text-xl">{ title }</p>
        <Paragraph>{ description }</Paragraph>
    </div>
    <ArrowCTA>{ cta }</ArrowCTA>
</div>
