---

// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS ASTRO COMPONENTS
import ImageHeadingTitleDescriptionCTAAligned from "@/components/common/image-heading-title-description-cta-aligned/index.astro"

// ASTRO PROPS
const {

    CDN,
    data,
    PROJECT

} = Astro.props

---
<Container>
    <section class="py-10 md:py-20">
        <ImageHeadingTitleDescriptionCTAAligned
            alternative_text={ data.title }
            CDN={ CDN }
            cta_link={ data.button_link }
            cta={ data.button_title }
            description={ data.description }
            heading={ data.title }
            height="h-[330px] md:h-[640px]"
            is_right={ true }
            PROJECT={ PROJECT }
            source={ data.cover }
            title={ data.sub_title }
        />
    </section>
</Container>
