---

// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS ASTRO COMPONENTS
import Events from "@/components/home/workshops-and-events/events/index.astro"

// ASTRO PROPS
const {

    CDN,
    data,
    PROJECT

} = Astro.props

---
<Container>
    <section class="py-10 md:py-20">
        <Events
            alternative_text={ data.title }
            CDN={ CDN }
            cta_link={ data.button_link }
            cta={ data.button_title }
            description={ data.description }
            heading={ data.title }
            PROJECT={ PROJECT }
            source={ data.cover }
            title={ data.sub_title }
        />
    </section>
</Container>
