---

// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS ASTRO COMPONENTS
import IncubatorCard from "@/components/home/incubator/card/index.astro"

// ASTRO PROPS
const {

    CDN,
    data,
    PROJECT

} = Astro.props

---
<section class="bg-thoughtbot_lavender py-20 md:py-28">
    <Container>
        <IncubatorCard
            alternative_text={ data.title }
            CDN={ CDN }
            cta_link={ data.button_link }
            cta={ data.button_title }
            description={ data.description }
            heading={ data.title }
            PROJECT={ PROJECT }
            source={ data.cover }
            title={ data.sub_title }
        />
    </Container>
</section>
