---
// LAYOUTS
import Container from '../../layouts/Container.astro'

// COMPONENTS
import FooterItem from './FooterItem.astro'
---
<footer class="bg-thoughtbot_black text-slate-50 py-16">
    <Container>
        <section class="grid md:grid-cols-2 gap-x-10 gap-y-4 md:gap-y-28">
            <div class="pb-10 md:pb-0">
                <div class="w-60 aspect-[4/1]">
                    <img
                        src="/logos/logo.png"
                        alt=""
                        class="w-full h-full"
                    />
                </div>
            </div>
            <div class="grid md:grid-cols-3 gap-4">
                <ul class="space-y-2">
                    <FooterItem>Services</FooterItem>
                    <FooterItem>Case Studies</FooterItem>
                    <FooterItem>Resources</FooterItem>
                    <li class="text-lg underline hover:no-underline text-thoughtbot_light_orange hover:text-thoughtbot_light_red font-calibre transition-all duration-200 cursor-pointer">Let's Talk</li>
                </ul>
                <ul class="space-y-2">
                    <FooterItem>Our Company</FooterItem>
                    <FooterItem>Careers</FooterItem>
                    <FooterItem>Purpose</FooterItem>
                    <FooterItem>Blog</FooterItem>
                    <FooterItem>Sponsor</FooterItem>
                </ul>
                <ul class="space-y-2">
                    <FooterItem>Mastodon</FooterItem>
                    <FooterItem>GitHub</FooterItem>
                    <FooterItem>Instagram</FooterItem>
                    <FooterItem>YouTube</FooterItem>
                    <FooterItem>twitch</FooterItem>
                </ul>
            </div>
            <div class="pt-16 md:pt-0">
                <p class="text-thoughtbot_zinc font-calibre">© 2023 thoughtbot, inc.</p>
                <p class="text-thoughtbot_zinc font-calibre">The design of a robot and thoughtbot are registered trademarks of thoughtbot, inc. </p>
            </div>
            <div class="space-y-4">
                <div class="flex flex-col md:flex-row md:gap-4">
                    <a href="tel:+18779762687">
                        <span class="text-thoughtbot_zinc font-calibre underline hover:no-underline">US: +1 (877) 9-ROBOTS</span>
                    </a>
                    <a href="tel:+442038070560">
                        <span class="text-thoughtbot_zinc font-calibre underline hover:no-underline">UK: +44 (0)20 3807 0560</span>
                    </a>
                </div>
                <div>
                    <span class="text-thoughtbot_zinc font-calibre">Beware of fraudulent thoughtbot job listings</span>
                    <span class="text-thoughtbot_zinc font-calibre underline hover:no-underline">Learn more</span>
                </div>
                <ul class="flex flex-wrap gap-x-4">
                    <li class="text-thoughtbot_zinc font-calibre underline hover:no-underline">Code of Conduct</li>
                    <li class="text-thoughtbot_zinc font-calibre underline hover:no-underline">Accessibility Statement</li>
                    <li class="text-thoughtbot_zinc font-calibre underline hover:no-underline">Privacy Policy</li>
                </ul>
            </div>
        </section>
    </Container>
</footer>
