---
const { title, description } = Astro.props
---
<li class="list-disc text-lg"><span class="underline hover:no-underline hover:text-thoughtbot_light_red transition-all duration-200">{ title }</span>{ " - " + description }</li>
