---
// IMPORTING MARKED
import { marked } from "marked"

// ATOMS
import ArrowCTA from "../../../atoms/ArrowCTA.astro"
import HeadingTwoUppercase from "../../../atoms/heading/TwoUppercase.astro"
import HeadingTwo from "../../../atoms/heading/Two.astro"
import Paragraph from "../../../atoms/Paragraph.astro"

// LAYOUTS
import Container from "../../../layouts/Container.astro"

const { data } = Astro.props

const html = marked.parse( data.md )
---
<Container>
    <section class="py-10 md:py-20 space-y-4 md:space-y-10">
        <div class="space-y-4 md:pr-80">
            <HeadingTwoUppercase>{ data.title }</HeadingTwoUppercase>
            <HeadingTwo>{ data.sub_title }</HeadingTwo>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-5 gap-10">
            <div class="md:col-span-3 space-y-4 md:space-y-10">
                <Paragraph>{ data.description }</Paragraph>
                <ArrowCTA>{ data.button_title }</ArrowCTA>
            </div>
            <div class="md:col-span-2 md:pl-20 space-y-4">
                <section set:html={ html } class="markdown" />
            </div>
        </div>
    </section>
</Container>
