---

// IMPORTS ASTRO LAYOUTS
import Layout from "@/layouts/layout/index.astro"

// IMPORTS ASTRO COMPONENTS
import Footer from "@/components/common/footer/index.astro"
import Header from "@/components/common/header/index.astro"
import NotFoundView from "@/components/common/404/not-found/index.astro"

---
<Layout
	title="4O4 PAGE NOT FOUND"
	description=""
	image=""
>
    <section class="h-screen max-h-screen">
        <Header />
        <NotFoundView />
    </section>
	<Footer />
</Layout>
