---

// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS ASTRO COMPONENTS
import ImageTitleDescriptionCTA from "@/components/common/image-title-description-cta/index.astro"

// IMPORTS ASTRO ATOMS
import HeadingTwo from "@/atoms/headings/two/index.astro"
import HeadingTwoUppercase from "@/atoms/headings/two/uppercase/index.astro"

// ASTRO PROPS
const {

    CDN,
    data,
    home,
    PROJECT

} = Astro.props

---
<Container>
    <section class="space-y-4">
        <div class="space-y-4 md:pr-60">
            <HeadingTwoUppercase>{ home.title }</HeadingTwoUppercase>
            <HeadingTwo>{ home.sub_title }</HeadingTwo>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-10 md:gap-20 pt-4">
            {

                data.map( ( item ) => {

                    return(
                        <ImageTitleDescriptionCTA
                            alternative_text={ item.title }
                            CDN={ CDN }
                            cta={ item.button_title }
                            description={ item.description }
                            href={ item.button_link }
                            PROJECT={ PROJECT }
                            source={ item.cover }
                            title={ item.title }
                        />
                    )

                })

            }
        </div>
    </section>
</Container>
