<div class="hover:border-white p-[2px] border-[3px] border-transparent rounded-full group w-fit">
    <button class="font-calibre_medium h-12 md:h-14 px-8 md:text-xl text-thoughtbot_red border-white bg-white rounded-full">
        <slot />
    </button>
</div>
